@model Library3.Entity.Concrete.Category

<!-- Start Blog Section -->
<div class="card">
    <div class="card-header">
        <h3>Are You Sure?</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="card-body">
        <form asp-action="Delete" method="post">
            <div class="mb-3">
                <label asp-for="@Model.CategoryName" class="form-label">Category Name:</label>
                <p>
                    @Html.DisplayFor(model => model.CategoryName)
                </p>
            </div>
            <div class="mb-3">
                <p>
                    Category Photo:
                </p>
                <img src="/images_category/@Model.CategoryPhotoName" style="max-height: 200px;">
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-primary" asp-action="Index">Back</a>
            </form>
        </form>
    </div>
</div>
<!-- End Blog Section -->