<!-- Start Blog Section -->
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-3 col-sm-6 col-md-3 mb-5">
                <div class="post-entry">
                    <a asp-area="Admin" asp-controller="User" asp-action="Index" class="post-thumbnail"><img src="~/assets_homepage/images/users.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3>Users</h3>
                    </div>
                </div>
            </div>
            <div class="col-3 col-sm-6 col-md-3 mb-5">
                <div class="post-entry">
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="post-thumbnail"><img src="~/assets_homepage/images/category.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3>Categories</h3>
                    </div>
                </div>
            </div>
            <div class="col-3 col-sm-6 col-md-3 mb-5">
                <div class="post-entry">
                    <a asp-area="Admin" asp-controller="Book" asp-action="Index" class="post-thumbnail"><img src="~/assets_homepage/images/product.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3>Books</h3>
                    </div>
                </div>
            </div>
            <div class="col-3 col-sm-6 col-md-3 mb-5">
                <div class="post-entry">
                    <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="post-thumbnail"><img src="~/assets_homepage/images/role.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3>Roles</h3>
                    </div>
                </div>
            </div>
            
            </div>
        </div>
    </div>
</div>
<!-- End Blog Section -->